@model User
<table>
    <tr>
        <td>Login:</td>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <td>Full Name:</td>
        <td>@Model.userExtraInformation.FirstName</td>
        <td> @Model.userExtraInformation.LastName</td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td>@Model.userExtraInformation.Birthday.Date</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.userServiceInformation.Email</td>
    </tr>
</table>